@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
:root {
  --bg-button: #4545e6;
}

body {
  height: 100vh;
}

.login {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.image-preview {
  display: block;
  max-width: 400px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  grid-gap: 2rem;
  transition: all 0.3s ease-in-out;
}

.properties {
  overflow-y: auto;
  max-height: 220px;
  margin: 2rem 0;
  border-bottom: 1px solid rgb(211, 211, 211);
  border-radius: 6px;
  max-width: 700px;
}

.property-column {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.property-btn {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.search {
  margin: 1.5rem 0;
}

@media screen and (max-width: 768px) {
  .login {
    justify-content: flex-start;
    margin: 0 1rem;
  }

  .container {
    margin: 0 1rem;
  }
}
